* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    padding: 20px;
}

body.no-padding {
    padding: 0;
}

h1, p {
    padding-bottom: 20px;
}

a {
    color: #000;
    text-decoration: none;
}

#qrcode {
    text-align: center;
    position: absolute;
    top: 400px;
    left: 50%;
    margin-left: -150px;
    z-index: 1000;
    background: #FFF;
    padding: 20px 20px 0 20px;
    box-shadow: 0 0 4px #000;
}

#qrcode img {
    padding-bottom: 20px;
}

iframe, .video-js {
    border: 0;
    width: 625px;
    height: 300px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    float: left;
}
