* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    padding: 20px 270px 20px 20px;
}

h1, p {
    padding-bottom: 20px;
}

a {
    color: #000;
    text-decoration: none;
}

#qrcode {
    text-align: center;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background: #FFF;
    padding: 20px 20px 0 20px;
    box-shadow: 0 0 4px #000;
}

#qrcode img {
    padding-bottom: 20px;
}

#user {
    display: none;
    position: relative;
    background: #0F0;
    color: #000;
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
    width: 300px;
}
