/*
 * Description: Skin for reMOTE.js, loaded on remote control device
 *              (smartphone/tablet)
 * Application: Hello World
 * Version:     0.1.0
 * Author:      Christian David (c.david@raumhoch.de)
 */
body {
    background: #666;
    color: #000;
}

.red {
    color: #F00;
}

.green {
    color: #090;
}

.blue {
    color: #00F;
}

.button {
    font-weight: bold;
}

.button, .text {
    background: #DDD;
}

.html {
    color: #333;
    background: #FFF;
}

/* ui elements */
#status {
    text-align: left;
    color: #666;
    text-indent: 10px;
    line-height: 2em;
    font-size: 16px;
}

#home {
    color: #000;
}
