/* general skin styles */
body {
    background: #666;
    color: #000;
}

.red {
    color: #F00;
}

.green {
    color: #090;
}

.blue {
    color: #00F;
}

.button {
    font-weight: bold;
}

.button, .text {
    background: #DDD;
}

.html {
    color: #333;
    background: #FFF;
}

/* ui elements */
#status {
    text-align: left;
    color: #666;
    text-indent: 10px;
    line-height: 2em;
    font-size: 16px;
}

#home {
    color: #000;
}

/* layout adjustments */
#layout-1 td {
    width: 50px;
    height: 50px;
}

#layout-1 .spacer, .button, .link, .text, .html {
    line-height: 50px;
}

#layout-1 * {
    font-size: 16px;
}