/*
 * Description: Skin for reMOTE.js, loaded on remote control device
 *              (smartphone/tablet)
 * Application: Hello World
 * Version:     0.1.0
 * Author:      Christian David (c.david@raumhoch.de)
 */
#skin-1 {
    background: #666;
    color: #000;
}

#skin-1 .red {
    color: #F00;
}

#skin-1 .green {
    color: #090;
}

#skin-1 .blue {
    color: #00F;
}

#skin-1 .button {
    font-weight: bold;
}

#skin-1 .button, #skin-1 .text, #skin-1 .link {
    background: #DDD;
}

#skin-1 .link {
    color: #00C;
}

#skin-1 .html {
    color: #333;
    background: #FFF;
}

#skin-1 #status {
    text-align: left;
    color: #666;
    text-indent: 10px;
    line-height: 2em;
    font-size: 16px;
}

#skin-1 #home {
    color: #000;
}
